In [3]:
import pypsa
import numpy as np
import matplotlib as plt

c:\Users\d094217\AppData\Local\miniconda3\envs\PR-pypsa-earth\lib\site-packages\pypsa\networkclustering.py:16: UserWarning: The namespace `pypsa.networkclustering` is deprecated and will be removed in PyPSA v0.24. Please use `pypsa.clustering.spatial instead`.
  warnings.warn(

In [4]:
n = pypsa.Network("results/networks/elec_s_10_ec_lcopt_Co2L-3H.nc")

c:\Users\d094217\AppData\Local\miniconda3\envs\PR-pypsa-earth\lib\site-packages\pypsa\components.py:318: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  attrs.loc[bool_b, "default"] = attrs.loc[bool_b].isin({True, "True"})
c:\Users\d094217\AppData\Local\miniconda3\envs\PR-pypsa-earth\lib\site-packages\pypsa\components.py:318: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  attrs.loc[bool_b, "default"] = attrs.loc[bool_b].isin({True, "True"})
c:\Users\d094217\AppData\Local\miniconda3\envs\PR-pypsa-earth\lib\site-packages\pypsa\components.py:318: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  attrs.loc[bool_b, "default"] = attrs.loc[bool_b].isin({True, "True"})
c:\Users\d094217\AppData\Local\miniconda3\envs\PR-pypsa-earth\lib\site-packages\pypsa\components.py:318: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  attrs.loc[bool_b, "default"] = attrs.loc[bool_b].isin({True, "True"})
INFO:pypsa.io:Imported network elec_s_10_ec_lcopt_Co2L-3H.nc has buses, carriers, generators, global_constraints, lines, links, loads, storage_units, stores

In [11]:
n.storage_units_t.p['IT0 0 PHS']

n.stores['carrier'].unique()
n.storage_units['carrier'].unique() #n.carriers

array(['PHS', 'hydro', 'concrete', 'pair', 'gravity'], dtype=object)

In [18]:
n.loads_t.p_set

Load,IT0 0,IT0 1,IT0 2,IT0 3,IT0 4,IT0 5,IT0 6,IT0 7,IT0 8,IT0 9
snapshot,,,,,,,,,,
2013-01-01 00:00:00,4206.290694,1131.997194,6765.749517,4744.503906,2099.508574,3967.390534,714.534422,3885.647707,1102.967105,3480.184223
2013-01-01 03:00:00,4526.400520,1218.145168,7280.640914,5105.573178,2259.286718,4269.319427,768.912378,4181.355754,1186.905813,3745.035429
2013-01-01 06:00:00,5947.012273,1600.460285,9565.671593,6707.958391,2968.364329,5609.246225,1010.235689,5493.675135,1559.416452,4920.415585
2013-01-01 09:00:00,6186.828189,1664.999558,9951.411556,6978.459798,3088.064941,5835.441574,1050.973892,5715.210029,1622.300614,5118.833533
2013-01-01 12:00:00,6111.400718,1644.700513,9830.087708,6893.381054,3050.416421,5764.298076,1038.160816,5645.532349,1602.522138,5056.426649
...,...,...,...,...,...,...,...,...,...,...
2013-12-31 09:00:00,6058.782951,1630.540017,9745.452894,6834.030614,3024.153031,5714.668784,1029.222488,5596.925602,1588.724788,5012.891968
2013-12-31 12:00:00,5924.029210,1594.275082,9528.703714,6682.034545,2956.892669,5587.568506,1006.331491,5472.444057,1553.389868,4901.399949
2013-12-31 15:00:00,6075.892804,1635.144621,9772.973812,6853.329748,3032.693164,5730.806867,1032.128987,5612.731182,1593.211308,5027.048251
2013-12-31 18:00:00,5977.344178,1608.623209,9614.459965,6742.171396,2983.504057,5637.855401,1015.388255,5521.694858,1567.370038,4945.511477
2013-12-31 21:00:00,4941.959508,1329.980427,7949.060724,5574.304748,2466.706919,4661.276359,839.504551,4565.236933,1295.873055,4088.858988